<form action="/payment/results">
  <label for="APR">APR  </label>
  <input id="APR" name="APR">
  <br>
  <label for="num_yr">Number of years  </label>
  <input id="num_yr" name="num_yr">
  <br>
  <label for="principal">Principal  </label>
  <input id="principal" name="principal">
  <br>
  <button>Calculate monthly payment</button>
</form>
