<form action="/payment/results">
  <label for="APR">APR  </label>
  <input id="APR" name="user_apr">
  <br>
  <label for="num_yr">Number of years  </label>
  <input id="num_yr" name="user_years">
  <br>
  <label for="principal">Principal  </label>
  <input id="principal" name="user_pv">
  <br>
  <button>Calculate monthly payment</button>
</form>
